@use '../../components/buttons' as button;
@use '../../utilities/responsive';

// About
.about {
    background-color: var(--color-light);
    color: var(--color-light);

    &__inner {
        padding: 192px calc(32px + var(--gap-xl));
        background-color: var(--color-dark-200);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap-l);

        @include responsive.max(1230px) {
            flex-wrap: wrap;
        }

        @include responsive.max(750px) {
            padding: 192px calc(32px + var(--gap-s));
        }
    }

    &__title {
        font-size: clamp(2rem, 8vw, 4.25rem);
        margin: 0;
        color: var(--color-light);
    }

    &__text {
        color: var(--color-light-200);
        font-size: var(--font-size-1);
        font-family: var(--font-sans);
    }
    &__button {
        @include button.default($icon-opacity: 0.34);
        margin-top: var(--gap-s);

        @include responsive.max(40rem) {
            font-size: var(--font-size-1);
        }

        svg {
            transition: all 0.2s;
        }

        &:hover {
            svg {
                opacity: 1;
                transform: rotate(90deg);
            }
        }

    }
    
    &__image {
       min-height: 350px;
       min-width: 500px;
       border: 1px solid var(--color-light);
       border-radius: 10px;
       background-image: url(../../../../assets/images/airplane.png), url(../../../../assets/images/sun\ and\ sea\ 42.png) ;
       background-repeat: no-repeat;
       background-size: 260px, cover;
       background-position: 60% 44%, center;
       display: grid;
       grid-template-rows: 300px 1fr 80px;
       align-items: center;

       @include responsive.max(1230px) {
        min-width: 500px;
        width: 100%;
    }

    @include responsive.max(720px) {
        min-width: 200px;
        width: 100%;
        background-size: 150px, cover;
    }

    &:hover {
        background-position: 40% 34%, center;
    }
    
    }
    
}

